* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-flow: column;
}

#draw_area {
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

#photo {
    position: absolute;
    transform-origin: left top;
    background-color: red;
    z-index: 1;
}

#points {
    position: absolute;
    transform-origin: left top;
    background-color: blue;
    opacity: 0.5;
    z-index: 3;
}

#toolbar {
    background-color: #eee;
    height: 40px;
    z-index: 5;
}

#toolbar button {
    background-color: black;
    color: white;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}


